/*
*************************
SHARED CSS
*************************
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  color: #1e4040;
}
.main-content,
.side-bar {
  padding: 30px 5%;
}
a {
  color: #71d99e;
}
h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  padding-bottom: 15px;
}
header,
.footer {
  background-color: #1e4040;
  color: #71d99e;
}

img{
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.footer p {
  color: white;
  padding-bottom: 0;
}

/*
*************************
CSS OUTER GRID STYLES
*************************
*/

.outer-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "alias-header alias-header"
    "alias-inner-grid alias-inner-grid";
}

.outer-grid-expanded {
  grid-template-areas:
    "alias-header alias-header"
    "alias-nav alias-inner-grid";
}

.hide-nav {
  display: none;
}
header {
  grid-area: alias-header;
}
nav {
  grid-area: alias-nav;
}

/*
*************************
CSS INNER GRID STYLES
*************************
*/

.inner-grid {
  overflow-y: scroll;
  grid-area: alias-inner-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 60px;
  grid-template-areas:
    "main-content"
    "side-bar"
    "footer";
}

.main-content {
  grid-area: main-content;
}

.side-bar {
  grid-area: side-bar;
}

.footer {
  grid-area: footer;
}

/*
*************************
CSS FOOTER
*************************
*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
*************************
CSS HEADER
*************************
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-link i {
  font-size: 0.8rem;
}

.fa-bars,
.video {
  margin-right: 10px;
}

.fa-bars:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*
*************************
CSS NAVBAR
*************************
*/

nav {
  padding-top: 19px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.nav-section:hover {
  cursor: pointer;
  opacity: 0.8;
}
nav i,
nav a {
  /* margin-top: 2px; */
  text-decoration: none;
  color: #1e4040;
}

/*
*************************
CSS SIDE-BAR
*************************
*/

.side-bar{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*
*************************
CSS COLLAGE
*************************
*/

.collage{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 40px 1fr 40px 1fr ;
  height: 550px;
  align-items: center;
}

.collage *{
  grid-row-start: 1;
  grid-row-end: 2;
}

.collage-1{
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  transform: rotate(-3deg);
}

.collage-2{
  grid-column-start: 2;
  grid-column-end: 5;
  z-index: 3;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
}

.collage-3{
  grid-column-start: 4;
  grid-column-end: 6;
  z-index: 1;
  transform: rotate(3deg);
}


/*
*************************
BREAK-POINTS CSS
*************************
*/

@media (min-width: 576px) {
  nav {
    display: block !important;
  }
  .outer-grid {
    grid-template-areas:
      "alias-header alias-header"
      "alias-nav alias-inner-grid";
  }
  .fa-bars {
    display: none;
  }
  .side-bar{
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);;
  }
}

@media (min-width: 992px) {
  .inner-grid {
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
      "main-content  side-bar"
      "footer footer";
  }
}

@media (min-width: 1440px) {
  .outer-grid {
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas:
      "alias-header alias-header alias-header"
      "alias-nav alias-inner-grid alias-inner-grid";
  }
  header {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas: "alias-lh . alias-rh";
  }
  .header-left {
    grid-area: alias-lh;
    justify-self: end;
  }
  .header-right {
    grid-area: alias-rh;
    justify-self: start;
  }
  nav {
    display: flex !important;
    flex-direction: column;
    align-items: end;
    padding-right: 15px;
  }
}
